<div class="col-md-4">
</div>
<div class="col-md-4">
  <h1 class=""><%= "Send a Sphynx" %></h1>
</div>
<div class="col-md-4">
</div>
<p></p><p></p><p></p><p></p>

<div class="jumbotron">
  <%= form_tag('/home/create', method: :post, class: :"form-horizontal" ) %>
    <div class="input-field col s6">
      <%= text_field_tag "users_name", nil, placeholder: "Your name" %>
    </div>
    <div class="input-field col s6">
      <%= text_field_tag "phone_number", nil, placeholder: "Who needs a sphynx in their life?"%>
    </div>
    <%= tag("img", src: "http://www.babyrah.com/cats/sphynx%20cat%20baby%20rah%20mexico.jpg", class: "btn-large btn-floating z-depth-2 waves-effect") %>
</div>
